*{
    margin: 0;
    padding: 0;
}
body{width: 100%;height: 100vh;background-image: url(gk.jpg);background-size: cover;background-repeat: repeat;color: #E8BA00}
svg{margin: 0 auto;display: block;margin-top: 15px;}
.dui,.tin,.car,.pan,.cai,.sat{fill-opacity: 0;stroke: #E8BA00;stroke-width: 8px;animation: man 6s linear infinite;
animation-direction: alternate;stroke-dashoffset: 0;stroke-dasharray: 4000}
.ek{fill-opacity: 0;stroke: #E8BA00;stroke-width: 8px;animation: to 6s linear infinite;animation-direction: alternate;
stroke-dashoffset: 0;stroke-dasharray: 7000}
@keyframes man{
    0%{stroke-dashoffset:4000}
    50%{fill-opacity: 1}
    100%{stroke-dashoffset:0}
}
@keyframes to{
    0%{stroke-dashoffset:7000}
    50%{stroke-dashoffset:4000;fill-opacity: 1}
    100%{stroke-dashoffset:0;}
}
.contain{ max-width: 100vw;margin: 0  auto;display: flex;justify-content: center;flex-direction: column;align-items: center}
#patra{width:150px;height: 40px;border-radius:  90px ;background: #1A4AFE;outline: none;text-align: center;font-family: 'SiyamRupali', sans-serif;
border: none;font-size: 20px;font-weight: bold;color:white;margin-bottom: 15px;margin-top: 25px;animation: cur 3s linear infinite;animation-direction: alternate}
#patri{width:150px;height: 40px;border-radius: 90px ;background: #FF2264;animation: curi 3s linear infinite;animation-direction: alternate;
    outline: none;text-align: center;align-items: bottom;border: none;font-size: 20px;font-weight: bold;color:white;margin-bottom: 35px;font-family: 'SiyamRupali', sans-serif;}

    .tainer{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper{height:150px;border-radius: 8px 8px 0px 0px;background-color: #1A4AFE;outline: none; }
    .img-upper{background: url(nambg.gif);width: 100px;height: 100px;border-radius: 20%;padding: 5px;transform: translate(100px,70px)
    }
    .img-upper img{width: 100px;height: 100px;border-radius: 20%;}
    .lower{height:280px;border-radius: 0px 0px 8px 8px;background-color: white;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #1A4AFE;font-family: 'SiyamRupali', sans-serif;}
    .lower p{font-size: 16px;color: gray;margin-top: 20px;font-family: 'SiyamRupali', sans-serif;}

    .tainer1{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper1{height:150px;border-radius: 8px 8px 0px 0px;background-color: #FF2264;outline: none; }
    .img-upper1{background: url(nambg.gif);width: 100px;height: 100px;border-radius: 20%;padding: 5px;transform: translate(100px,70px)
    }
    .img-upper1 img{width: 100px;height: 100px;border-radius: 20%;}
    .lower1{height:280px;border-radius: 0px 0px 8px 8px;background-color: white;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower1 h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #FF2264;font-family: 'SiyamRupali', sans-serif;}
    .lower1 p{font-size: 16px;color: gray;margin-top: 20px;font-family: 'SiyamRupali', sans-serif;}
    @keyframes cur{
        0%{border-radius:  90px 0px 90px 0px}
        25%{border-radius:  90px 90px 90px 90px;width:180px}
        50%{border-radius:  0px 90px 0px 90px}
        100%{border-radius:  90px 0px 90px 0px;width:110px}
    }
    @keyframes curi{
        0%{border-radius:  0px 90px 0px 90px}
        25%{border-radius:  90px 90px 90px 90px;width:110px}
        50%{border-radius:  90px 0px 90px 0px}
        100%{border-radius:  0px 90px 0px 90px;;width:180px}
    }
     .dany{width:300px;height: 300px;border-radius: 50px;display: block;margin: 0 auto;margin-bottom: 55px}
     .dany img{width:350px;height: 350px;border-radius: 50px;}
.impro{display: flex;width: 100%;align-items: center;justify-content: center}
.impro img{width:45px;height: 45px;border-radius: 15px}
.proja{font-size: 25px;font-weight: bold;margin-right: 5px;margin-left: 5px;font-family: 'SiyamRupali', sans-serif;}
h2{text-align: center;width: 180px;height: 40px;background: url(parti.gif);display: block;margin: 0 auto;line-height: 45px;border-radius: 10px;
font-family: 'SiyamRupali', sans-serif;color: white;font-weight: bold}
.subh{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 10px;width: 170px;height: 31px;background: #E8BA00;background-size: cover;color: white;
    color: #A90018;display: block;margin: 0 auto;margin-top: 15px;border-radius: 16px;font-family: 'SiyamRupali', sans-serif;}
    .nai{text-align: center;color: #E8BA00;font-size: 18px;font-family: 'SiyamRupali', sans-serif;}
.container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;background: rgba(0,0,0,0.2);
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 35px;
line-height: 35px;
text-align: center;
border-radius: 50px;
color: white;
margin: 0 5px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -26px;
left: 0;
width: 78px;
height: 25px;border-radius: 13px;
background: white;
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
    .prit{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 5px;margin-top: 7px;font-family: 'SiyamRupali', sans-serif;
    width: 170px;height:31px;margin: 0 auto;background: #E8BA00;border-radius: 23px;color: #A90018;margin-top: 10px; }
    .eg{text-align: center;color:#E8BA00;font-family: 'SiyamRupali', sans-serif;font-size: 18px;margin-bottom: 10px;}
    .stha{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 5px;font-family: 'SiyamRupali', sans-serif;
    width: 120px;height:28px;margin: 0 auto;background: #E8BA00;border-radius: 23px;color: #A90018;line-height: 28px}
    .cu{text-align: center;color:#E8BA00;font-family: 'SiyamRupali', sans-serif;font-size: 18px;margin-bottom: 20px;}
    .sri{text-align: center;font-family: 'SiyamRupali', sans-serif;font-size: 22px;font-weight: bold;}    
    #fontcss{margin-left: 10px;margin-bottom: 20px;color: #E8BA00;font-family: 'SiyamRupali', sans-serif;font-size: 20px;}
    .bih{font-family: 'SiyamRupali', sans-serif;text-align: justify;text-indent: 40px;margin-left: 10px;margin-right: 10px;
    margin-bottom: 40px;font-size: 20px;color: #E8BA00}
    .quni{display: flex;max-width: 100%;justify-content: space-between}
    .qui {max-width: 60%;}
    .nibe{text-align: right;margin-right: 10px;color: #E8BA00;font-family: 'SiyamRupali', sans-serif;font-size: 20px;max-width: 40%}
    footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  
button{width: 100px;height: 30px;background: green;border-radius: 46px;border: none;font-weight: bold;font-size: 15px;letter-spacing: 1.5px
;color: white}